* {
  margin: 0;
  padding: 0;
}

a,
li {
  text-decoration: none;
  list-style: none;
}
:root {
  --orange: #f65717;
  --purple: #6358e1;
}
.App {
  text-align: center;
  background-color: #ddd;
  height: 100vh;
  margin: auto;
}

.navbar {
  background-color: var(--orange) !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.btn-purple {
  background-color: #6358e1;
  color: #ddd;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.btn-purple:hover {
  background-color: #5047b3;
  color: #f8f9f7;
  font-weight: 400;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
}
.btn-purple:active {
  box-shadow: none;
  transform: scale(0.95);
}
.btn-orange {
  background-color: #f65717 !important;
  transition: all 0.3s ease;
}

.btn-orange:hover {
  background-color: #d45d2d;
  color: #f8f9f7;
}
.btn {
  background-color: #000000;
  border-radius: 5%;
  margin: auto 1rem;
  padding: 1rem;
  font-size: medium;
  font-weight: bolder;
  color: #ddd;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.btn-primary {
  background-color: #1981ff;
  border-radius: 5%;
  padding: 1rem;
  margin: auto 1rem;
  font-size: medium;
  font-weight: bolder;
  color: #000000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.btn-success {
  background-color: #3cdd1f;
  border-radius: 5%;
  margin: auto 1rem;
  padding: 1rem;
  font-size: medium;
  font-weight: bolder;
  color: #000000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.btn-warning {
  background-color: #fff305;
  border-radius: 5%;
  margin: auto 1rem;
  padding: 1rem;
  font-size: medium;
  font-weight: bolder;
  color: black;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: #313131;
  color: #f8f9f7;
  border-radius: 10%;
  margin: auto 1rem;
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(212, 221, 218), 0 0 82px rgb(54, 55, 54),
    0 0 92px rgb(109, 109, 109), 0 0 102px rgb(99, 100, 100),
    0 0 151px rgb(161, 166, 164);
}
.card {
  border: 2px solid black !important;
  background-color: #121212;
  border-radius: 6px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: #fff;
}

.card-header {
  font-size: large;
  font-weight: 600;
  padding: 1rem;
}

.margin-auto {
  margin: 1rem auto;
}
.popularExercises {
  overflow-y: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.day {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  color: #000000;
  transition: 0.3s ease;
}
.day-active {
  height: 25px;
  width: 25px;
  background-color: var(--orange);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);

  transition: 0.3s ease;
}
.day:hover {
  background-color: var(--orange);
  color: #fff;
  transition: 0.3s ease;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

input {
  border: none;
  padding-left: 0.5rem;
}

.fadeWorkout {
  animation: fadeWorkout 0.5s ease-in-out;
}

@keyframes fadeWorkout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.Outlet {
  height: 80vh;
  margin-top: 5vh;
}
/* Stock  */
.bg-purple {
  background-color: #6358e1 !important;
}
.bg-orange {
  background-color: #f65717 !important;
}
.text-orange {
  color: #f65717;
}
.text-purple {
  color: #6358e1;
}

.text-white {
  color: #fff;
}
.title {
  font-size: 3.75rem;
  font-weight: 600;
}
.main-title {
  font-size: 2.5rem;
  font-weight: 300;
}
.mb-4 {
  margin-bottom: 4%;
}

.d-flex {
  display: flex;
}
.glow {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(212, 221, 218), 0 0 82px rgb(54, 55, 54),
    0 0 92px rgb(109, 109, 109), 0 0 102px rgb(99, 100, 100),
    0 0 151px rgb(161, 166, 164);
}
.subtitle {
  font-size: medium;
  font-weight: 400;
}
.text-danger {
  color: red;
}
